extends layout

block content
	// Gallery
	.container
		.page-header
			h1 Gallery&nbsp;
				small of amazing
		#alerts(data-error=error)
			.error.alert.alert-danger
				strong.message
			.success.alert.alert-success
				strong.message
		each polyptych, index in canvases
			.panel.panel-default
				.panel-heading
					h3.panel-title #{index}
				.list-group
					a.list-group-item(href="/draw/#{polyptych[0]._id}")
						each canvas in polyptych
							span #{canvas._id}#{canvas == polyptych[polyptych.length-1] ? '' : ' | '}
						